html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* headings */
h1, h2, h3 {
  color: grey;
}

h1 {
  font-size: 2.5em;
}

h1 {
  font-size: 1.875em;
}

body {
  font-size: 1.25em;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
